* {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
}

/* LOGIN SECTION*/
.login-btn,
.login-btn:hover {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 188px;
    padding: 22px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #f43f00;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.login-section {
    padding-top: 191px;
    padding-bottom: 108px;
    position: relative;
}

.login-section .container {
    position: relative;
    z-index: 99;
}

.login-text {
    padding-top: 95px;
    padding-right: 10px;
}

.login-text h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.1;
}

.login-text p {
    color: #fff;
    margin-bottom: 30px;
}

.login-form {
    background: #22242b;
    padding: 63px 42px 73px;
}

.login-form input {
    width: 100%;
    height: 49px;
    padding: 5px 26px;
    margin-bottom: 30px;
    border: none;
    font-size: 14px;
    color: #838383;
    font-style: italic;
}

.login-form p {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 25px;
}
/*LOGIN SECTION END*/

/*HEADER SECTION*/
.header-section {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 53px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.header-nav {
    text-align: center;
}

.main-menu {
    display: inline-block;
    padding-right: 50px;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li:hover,
.main-menu li.active {
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.main-menu li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 33px 30px;
    /*margin-right: 55px;*/
    text-decoration: none;
    outline: none;
}

.main-menu li a:hover,
.main-menu li a.active {
    color: #00b2f4;
}
/*HEADER SECTION END*/

.home-welcome {
    text-align: center;
    margin-top: 6%;
    color: black;
    font-size: 45px;
}

.body-background {
    background-image: url("img/SfondoWebApp.jpg");
    overflow: hidden;
}

.span,
.span:hover {
    color:white;
    font-weight: 600;
    font-size: 17px;
}


/*SEZIONE PROPOSTA*/
.form-proposta {
    background: none;
    padding: 63px 42px 73px;
    left: 25%;
    position: fixed;
    width: 50%;
    top:90px;
}

.form-proposta h1{
    text-align: center;
    color: white;
}

.text-proposta {
    width: 100%;
    height: 49px;
    padding: 5px 26px;
    margin-bottom: 30px;
    border: none;
    font-size: 20px;
    color: #838383;
}

.textarea-proposta {
    width: 100%;
    height: 200px;
    padding: 5px 26px;
    margin-bottom: 30px;
    border: none;
    font-size: 20px;
    color: #838383;
}
/*FINE SEZIONE PROPOSTA*/


body {
    overflow: hidden;
}

/*h1 {
    text-align: center;
    color:white;
    position: absolute;
    left: 50%;
    transform:translate(-50%,-100%);
}*/

/*IMAGES*/
.leviLogo {
    position: fixed;
    left: 2%;
    bottom: 50px;
}

.vignolaLogo{
    position: fixed;
    right: 2%;
    bottom: 50px;
}

.img {
    position: fixed;
    bottom: 0px;
    height: 80%;
    width: 100%;
    align:middle;
}
/*IMAGES END*/