
* {
	font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif !important;
}
.topnav {
    background-color: #2b2a2a;
    overflow: hidden;
    margin:auto;
    
  }

  .topnav{
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    left: 50%;
    position: absolute;
    width: 64.2%;
    /* top: 100%; */
    transform: translate(-50%);
    padding-left: 0;
    z-index: 300;
    
    
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
  }
  
  .topnav a:hover {
    background-color:white;
    color: black;
    
  }
  
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
    
  }
  .background{


    background-color:#2b2a2a;
    /*overflow: hidden;  prini stai attento a quello che fai dio can*/   

  }

/*   #main{
    border-style: solid !important;
    background-color: #333333 !important;
    border: none !important;
    border-bottom: solid 1px white !important;
    height: 140px !important;
    position: relative;
    padding-top: 5px;
  } */

  #main{

    border-style: solid !important;
    background-color: transparent !important;
    border: none !important;
    /* border-bottom: solid 1px white !important; */
    height: 140px !important;
    position: relative;
    padding-top: 5px;
    
  }


  .vignolaLogo{

    
  }

  .leviLogo{


  }
  @media only screen and (max-width: 1280px) {

    .vignolaLogo{

      display: none;
    }
  
    .leviLogo{
  
      display: none;
    }

    .topnav{

      width: 90%;

    }
  }

  @media only screen and (max-width: 1800px) and (min-width: 1280px) {


    .topnav{

      width: 50%;

    }
  }

  .vignolaLogo{

    height: 90%;
  }

  .leviLogo{

    padding-top:20px;
    padding-left:50px;
  }