* {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
}

.base-btn {
    background: 0 0;
    color: #fff;
    display: inline-block;
    padding: 16px 43px;
    font-family: poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #fff;
    text-align: center;
    text-transform: capitalize;
}

.base-btn-black {
    background: 0 0;
    color: #000;
    display: inline-block;
    padding: 16px 43px;
    font-family: poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #000;
    text-align: center;
    text-transform: capitalize;
}

.base-btn:hover {
    transition: 0.3s;
    background: #fff;
    color: #000 !important;
    border: 2px solid #fff;
}

.base-btn-black:hover {
    transition: 0.3s;
    background: #000;
    color: #fff !important;
    border: 2px solid #000;
}

/* LOGIN SECTION*/


.login-section {
    padding-top: 191px;
    padding-bottom: 108px;
    position: relative;
}

.login-section .container {
    position: relative;
    z-index: 99;
}

.login-text {
    padding-top: 95px;
    padding-right: 10px;
}

.login-text h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.1;
}

.login-text p {
    color: #fff;
    margin-bottom: 30px;
}

.login-form {
    background: #22242b;
    padding: 63px 42px 73px;
}

.login-form input {
    width: 100%;
    height: 49px;
    padding: 5px 26px;
    margin-bottom: 30px;
    border: none;
    font-size: 14px;
    color: #838383;
    font-style: italic;
}

.login-form p {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 25px;
}
/*LOGIN SECTION END*/

/*HEADER SECTION*/
.header-section {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 90px;
    padding-left: 53px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.header-nav {
    text-align: center;
}

.main-menu {
    display: inline-block;
    padding-right: 50px;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li:hover,
.main-menu li.active {
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.main-menu li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 33px 30px;
    /*margin-right: 55px;*/
    text-decoration: none;
    outline: none;
}

.main-menu li a:hover,
.main-menu li a.active {
    color: #00b2f4;
}
/*HEADER SECTION END*/

.home-welcome {
    text-align: center;
    margin-top: 6%;
    color: black;
    font-size: 45px;
}

.body-background {
    background-image: url("img/SfondoWebApp.jpg");
    overflow: hidden;
}

.span,
.span:hover {
    color:white;
    font-weight: 600;
    font-size: 17px;
}


/*SEZIONE PROPOSTA*/
.form-proposta {
    background: none;
    padding: 63px 42px 73px;
    left: 25%;
    position: fixed;
    width: 50%;
    top:90px;
}

.form-proposta h1{
    text-align: center;
    color: white;
}

.text-proposta {
    width: 100%;
    height: 49px;
    padding: 5px 26px;
    margin-bottom: 30px;
    border: none;
    font-size: 20px;
    color: #838383;
}

.textarea-proposta {
    width: 100%;
    height: 200px;
    padding: 5px 26px;
    margin-bottom: 30px;
    border: none;
    font-size: 20px;
    color: #838383;
}

.form-proposta-btn {
    width:100%;
    height:50px;
    padding: 0px 0px !important;
}
/*FINE SEZIONE PROPOSTA*/

/*COMPILA MODULO*/

.container {
    max-width: 732px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="time"],
#contact input[type="number"],
#contact select,
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="time"],
#contact input[type="number"],
#contact select,
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    text-transform: capitalize;
}

#contact input[type="text"]:hover,
#contact input[type="date"]:hover,
#contact input[type="time"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

#contact h3 {
    text-align: center;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.cmodulo-body {
    overflow-y: scroll;
    background-image: url('img/SfondoWebApp.jpg');
}

.cmodulo-table {
    width: 100%;
}

.cmodulo-table td, th {
    width: 50%;
}
/*COMPILA MODULO END*/

/*STAMPA MODULO*/
.stampa-modulo-form {
    background: none;
    padding: 63px 42px 73px;
    left: 25%;
    position: fixed;
    width: 50%;
    top:90px;
}

.stampa-modulo-form h1{
    text-align: center;
    color: white;
}

.stampa-modulo-form a{
    text-align: left;
    color: black;
}

.stampa-modulo-form select{
    text-align: left;
    color: black;
    width: 100%;
    height: 50px;
}
/*STAMPA MODULO END*/

/*GESTISCI UTENTE*/
.gestisci-utente-form {
    background: none;
    padding: 63px 42px 73px;
    left: 25%;
    position: fixed;
    width: 50%;
    top:90px;
}

.gestisci-utente-form h1 {
    color:white;
    text-align: center;
}

.gestisci-utente-input {
    width:99%;
    margin-top:8px;
    border:1px solid #ccc;
    padding: 10px 10px 10px 5px;
    font-size:16px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
/*GESTISCI UTENTE END*/

/*GESTISCI PASSWORD*/
.gestisci-password-form {
    background: none;
    padding: 63px 42px 73px;
    left: 25%;
    position: fixed;
    width: 50%;
    top:90px;
}

.gestisci-password-form input[type="password"] {
    width:100%;
    margin-top:8px;
    border:1px solid #ccc;
    padding: 10px 10px 10px 5px;
    font-size:16px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

/*GESTISCI PROPOSTE*/
.gestisci-proposte-form {
    background: none;
    padding: 63px 42px 73px;
    left: 25%;
    position: fixed;
    width: 50%;
    top:90px;
}

.gestisci-proposte-form h1 {
    color:white;
    text-align: center;
}

.gestisci-proposte-form a {
    color:white;
}

.gestisci-proposte-select {
    width:99%;
    margin-top:8px;
    border:1px solid #ccc;
    padding: 10px 10px 10px 5px;
    font-size:16px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
/*GESTISCI PROPOSTE END*/

/*COMPILA RELAZIONE*/
.crelazione-form {
    margin-top: 130px;
}

.crelazione1 {
    background-color: white;
    position: relative;
    width: 793px;
    padding: 15px;
    top: 30px;
    margin-left: 50%;
    height: 20%;
    transform: translate(-50%);
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.crelazione1 h1 {
    text-align: center;
}

.crelazione2 {
    left: 50%;
    transform: translate(-50%);
    top: 30px;
    width: 793px;
    background-color: white;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.crelazione2 input[type=text], select, textarea, td{
    width:99%;
    margin-top:8px;
    border:1px solid #818181;
    padding: 10px 10px 10px 5px;
    font-size:16px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.crelazione-btn {
    width:793px;
    height:50px;
    margin-left: 29.2%;
    margin-bottom: 10px;
    text-align: center;
}
/*COMPILA RELAZIONE END*/

/*CONTATTACI*/
.contattaci-div {
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 40px;
}

.contattaci-div span{
    color: #2b2a2a;
}

.contattaci-div span:hover {
    color: white;
}

body {
    overflow: hidden;
}

/*h1 {
    text-align: center;
    color:white;
    position: absolute;
    left: 50%;
    transform:translate(-50%,-100%);
}*/

/*IMAGES*/
.leviLogo {
    position: fixed;
    left: 2%;
    bottom: 50px;
}

.vignolaLogo{
    position: fixed;
    right: 2%;
    bottom: 50px;
}

.img {
    position: fixed;
    bottom: 0px;
    height: 80%;
    width: 100%;
    align:middle;
}
/*IMAGES END*/